// Define color

$palette-white-ff: #fff;
$palette-black-00: #000;

$palette-green-38: #389e0d;
$palette-green-22: #228b22;
$palette-green-20: #20b2aa;
$palette-blue-2f: #2f54eb;
$palette-blue-00: #0000cd;
$palette-blue-1e: #1e90ff;
$palette-blue-64: #6495ed;
$palette-gray-bf: #bfbfbf;
$palette-gray-aaa5: #aaa5a0;
$palette-gray-fffa: #fffaf0;
$palette-gray-edf: #edf0f7;
$palette-gray-eee9: #eee9e0;
$palette-gray-88: #888;
$palette-gray-ee: #eee;
$palette-gray-cc: #ccc;
$palette-yellow-ffd7: #ffd700;
$palette-orange-ffa5: #ffa500;
$palette-orange-ffa0: #ffa07a;
$palette-orange-ff7f: #ff7f50;
$palette-orange-cc: #cc4c20;
$palette-purple-8a: #8a2be2;
$palette-gray-33: #333;
$palette-gray-99: #999;
$palette-gray-66: #666;
$palette-pink-ff69: #ff69b4;
$palette-red-f0: #f00;
$palette-red-dc: #dc143c;

$user-header-height: 50px;
